@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />

<header>
    <video autoplay muted loop class="video-fundo">
        <source src="/video/video.mp4" type="video/mp4" />
    </video>
    <div class="container text-center text-dark mt-5">
        <h1 class="text-white">LOJA BDS</h1>
        <p class="text-white">SUA MELHOR LOJA NO MUNDO DIGITAL</p>
        <div>
            <button class="btn-light me-2">Saiba mais</button>
        </div>
    </div>
</header>